@use '/src/styles/style' as *;

$card--font-family: 'Pretendard';
$liveChannel--title-color: #c4c4c4;
$liveChannel--description-color: #a6a6a6;
$liveChannel__icon-title-color: #ffffff;
$liveChannel--viewer-color: #6b6b6b;

// 반응형 분기점
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// 믹스인
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin display($display, $flex-direction) {
  display: $display;
  flex-direction: $flex-direction;
}

@mixin font(
  $font-size,
  $font-weight,
  $line-height,
  $font-style: normal,
  $font-family: 'Pretendard'
) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  font-style: $font-style;
  font-family: $font-family;
}

@mixin fontSize-lineHeight($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

.liveChannel__content {
  @include size(21.6rem, 19.3rem);
  @include display(flex, column);
}

.liveChannel__content-img {
  @include size(21.5625rem, 12.12894rem);
  border-radius: 0.25rem;
}

.liveChannel__wrap {
  display: flex;
  width: 21.5625rem;
  height: 5.5625rem;
}

.liveChannel__icon {
  display: flex;
  align-items: center;
  margin-right: 0.625rem;
}

.liveChannel__icon-title {
  color: $liveChannel__icon-title-color;
  font-family: "Noto Sans KR";
  font-size: 4.375rem;
  font-style: italic;
  font-weight: 700;
  line-height: 160%; /*7 rem*/
}

.liveChannel__info {
  display: flex;
  flex-direction: column;
}

.liveChannel__title {
  margin-top: 0.5rem;
  color: $liveChannel--title-color;
  @include font(1.333rem, 600, 1.9995rem);
}

.liveChannel__description {
  margin-top: 0.125rem;
  color: $liveChannel--description-color;
  @include font(1rem, 400, 1.6rem);
}

.liveChannel__viewer {
  margin-top: 0.125rem;
  color: $liveChannel--viewer-color;
  @include font(1rem, 400, 1.6rem);
}

// 반응형
//tablet
@media (max-width: $breakpoint-desktop) {
  .liveChannel__content {
    @include size(14.0625rem, 14rem);
  }

  .liveChannel__content-img {
    @include size(14rem, 7.875rem);
  }

  .liveChannel__wrap {
    display: flex;
  }

  .liveChannel__icon-title {
    font-size: 2.875rem;
    margin-bottom: 1.3rem;
  }

  .liveChannel__title {
    @include fontSize-lineHeight(0.875rem, 1.2rem);
  }

  .liveChannel__description {
    @include fontSize-lineHeight(0.75rem, 1rem);
  }

  .liveChannel__viewer {
    @include fontSize-lineHeight(0.75rem, 1rem);
  }
}

//mobile
@media (max-width: $breakpoint-tablet) {
  .liveChannel__content {
    @include size(9.0625rem, 9.5rem);
  }

  .liveChannel__content-img {
    @include size(9.0625rem, 5.125rem);
  }

  .liveChannel__wrap {
    display: flex;
    width: 9.0625rem;
    height: 3.375rem;
    align-items: center;
  }

  .liveChannel__icon-title {
    margin-top: 1.06rem;
    font-size: 2.125rem;
  }

  .liveChannel__title {
    @include fontSize-lineHeight(0.75019rem, 1.12531rem);
  }

  .liveChannel__description {
    @include fontSize-lineHeight(0.75019rem, 1.20031rem);
  }

  .liveChannel__viewer {
    @include fontSize-lineHeight(0.75019rem, 1.20031rem);
  }
}
