@use "src/styles/scss/" as *;

$card--font-family: 'Pretendard';
$liveChannel--title-color: #c4c4c4;
$liveChannel--description-color: #a6a6a6;
$liveChannel__icon-title-color: #ffffff;
$liveChannel--viewer-color: #6b6b6b;

// 반응형 분기점
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// 믹스인
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin display($display, $flex-direction) {
  display: $display;
  flex-direction: $flex-direction;
}

@mixin font(
  $font-size,
  $font-weight,
  $line-height,
  $font-style: normal,
  $font-family: 'Pretendard'
) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  font-style: $font-style;
  font-family: $font-family;
}

@mixin fontSize-lineHeight($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

.liveChannel__content {
  @include size(21.5625rem, 18.3125rem);
  @include display(flex, column);
}

.liveChannel__content-img {
  @include size(21.5625rem, 12.125rem);
  border-radius: 0.25rem;
}

.liveChannel__wrap {
  display: flex;
  width: 21.5625rem;
  height: 5.5625rem;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
}

.liveChannel__icon {
  flex-direction: column;
  align-items: center;
}

.liveChannel__icon-title {
  display: inline-block;
  color: $liveChannel__icon-title-color;
  font-family: "Noto Sans KR";
  font-size: 4.375rem;
  font-style: italic;
  font-weight: 700;
  line-height: 160%;
}

.liveChannel__info {
  display: flex;
  width: 17.9375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.125rem;
  flex-shrink: 0;
}

.liveChannel__title {
  margin-top: 0.5rem;
  color: $liveChannel--title-color;
  @include font(1.333rem, 600, 1.9995rem);
}

.liveChannel__description {
  color: $liveChannel--description-color;
  @include font(1rem, 400, 1.6rem);
  margin-top: 0.25rem;
}

.liveChannel__viewer {
  color: $liveChannel--viewer-color;
  @include font(1rem, 600, 1.3rem);
}

// tablet
@media (max-width: $breakpoint-desktop) {
  .liveChannel {
    width: 14rem;
  }

  .liveChannel__content {
    @include size(14rem, auto);
  }

  .liveChannel__icon-title {
    @include size(1.5rem, 1.5rem);
    @include font(1rem, 600, 1.5rem);
  }

  .liveChannel__title {
    @include fontSize-lineHeight(1rem, 1.3rem);
  }

  .liveChannel__description {
    @include fontSize-lineHeight(0.875rem, 1.2rem);
  }

  .liveChannel__viewer {
    @include fontSize-lineHeight(0.875rem, 1.2rem);
  }
}

// mobile
@media (max-width: $breakpoint-tablet) {
  .liveChannel {
    @include size(9.0625rem, 5.125rem)
  }

  .liveChannel__content {
    @include size(9.0625rem, auto);
  }

  .liveChannel__icon-title {
    @include size(1.25rem, 1.25rem);
    @include font(0.875rem, 600, 1.25rem);
  }

  .liveChannel__title {
    @include fontSize-lineHeight(0.875rem, 1.2rem);
  }

  .liveChannel__description {
    @include fontSize-lineHeight(0.75rem, 1rem);
  }

  .liveChannel__viewer {
    @include fontSize-lineHeight(0.75rem, 1rem);
  }
}