<!-- <!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>card 컴포넌트 - 3번 카드</title>
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css"
    />
    <script type="module" src="./card-3.js"></script>
  </head>
  <body>
    <div class="liveChannel">
      <div class="liveChannel__content">
        <div class="liveChannel__icon">
          <p class="liveChannel__icon-title">Quick VOD</p>
        </div>

        <img
          class="liveChannel__content-img"
          src="/assets/jtbcLIVE-1.png"
          alt="Live Channel 첫 번째 콘텐츠 카드: JTBC 뉴스룸"
        />

        <span class="liveChannel__title">JTBC 뉴스룸</span>
        <span class="liveChannel__episode-number">jtbc 뉴스룸</span>
      </div>
    </div>
  </body>
</html> -->
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>card 컴포넌트 - 3번 카드</title>
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script type="module" src="./card-3.js"></script>
  </head>
  <body>
    <!-- <div class="liveChannel">
      <div class="liveChannel__content">

        <img
          class="liveChannel__content-img"
          src="/assets/jtbcLIVE-1.png"
          alt="Live Channel 첫 번째 콘텐츠 카드: JTBC 뉴스룸"
        />

        <span class="liveChannel__wrapper--rank">1</span>
        <div class="liveChannel--wrapper">
        <span class="liveChannel__title">JTBC</span>
        <span class="liveChannel__sub-title">jtbc 뉴스룸</span>
        <span class="liveChannel__viewer">27.9%</span>
        </div>
      </div>
    </div> -->
    <div class="liveChannel">
      <div class="liveChannel__content">
        <div class="liveChannel__icon">
          <p class="liveChannel__icon-title">1</p>
        </div>
        <img
          class="liveChannel__content-img"
          src="/assets/jtbcLIVE-1.png"
          alt="JTBC 뉴스룸"
        />
        <div class="liveChannel__info">
          <span class="liveChannel__title">JTBC</span>
          <span class="liveChannel__description">JTBC 뉴스룸</span>
          <!--subTitle-->
          <span class="liveChannel__viewer">27.9%</span>
          <!--episode number-->
        </div>
      </div>
    </div>
  </body>
</html>
