<!doctype html>
<html lang="ko-KR">
  <head>
    <title>Vite Scss</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="./input.js"></script>
  </head>
  <div class="container">
    <div class="input-component">
      <label for="user-id"></label>
      <input
        placeholder="아이디"
        class="input-component--input"
        type="text"
        id="user-id"
        name="user-id"
        pattern="[a-zA-Z0-9]{6,12}"
        required
      />
      <p>영문 또는 영문, 숫자 조합 6~12자리</p>
    </div>
  </div>
</html>
