@use '/src/styles/scss' as *;

body {
  background-color: black;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}

.mainFirstCard {
  @include display(column, nowrap, null, null, flex);
  position: relative;
  width: 15rem;
  height: 21.5625rem;

  .logo {
    left: 15rem * 0.25;
    width: 50%;
    position: absolute;
    bottom: 1rem;
  }

  .mainFirstCard--card {
    position: relative;
  }

  .mainFirstCard__videoTitle {
    display: block;
    /* Label/Large */
    @include font(1.333rem, 600, 150%, Pretendard, $gray-200);
  }
}

// 반응형 테블릿

@media (max-width: $breakpoint-tablet) {
  .mainFirstCard {
    @include size(8.125rem, 11.8125rem, 8.125rem, 11.8125rem);

    .logo {
      left: 8.125rem * 0.25;
      width: 50%;
      bottom: 1rem;
    }
    .mainFirstCard__videoTitle {
      font-size: 0.75019rem;
    }
  }
}
//모바일
@media (max-width: $breakpoint-mobile) {
  .mainFirstCard {
    @include size(5.80588rem, 8.375rem, 5.80588rem, 8.375rem);
    .logo {
      left: 5.80588rem * 0.25;
      width: 50%;
      bottom: 1rem;
    }
    .mainFirstCard__videoTitle {
      display: none;
    }
  }
}
