<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>card 컴포넌트 - 1번 카드</title>
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css"
    />
    <script type="module" src="./card-4.js"></script>
  </head>
  <body>
    <div class="mainFirstCard">
      <div class="mainFirstCard--card">
        <img src="/assets/Vertical_1.png" alt="" />
        <span class="mainFirstCard__videoTitle">보물찾기</span>
      </div>
    </div>
  </body>
</html>
