@use 'src/styles/scss/' as *;
.more-info {
  display: flex;
  margin-bottom: -120px;
  justify-content: space-between;
  @include font(1.333rem, 200, 160%, Pretendard, $gray-200);

  .notice-group {
    display: flex;
    gap: 1.25rem;
  }

  .notice {
    color: var(--gray-500, #6b6b6b);
    font-style: normal;
  }
  .dash {
    margin: 0 0.5rem;
    margin-right: 1rem;
    color: #6b6b6b;
  }

  .plus {
    margin: 0 0.8rem;
  }
}

@media (max-width: $breakpoint-desktop) {
  .more-info {
    @include font(0.75019rem, 400, 160%, Pretendard, $gray-200);
    margin-bottom: -130px;
  }
}
@media (max-width: $breakpoint-tablet) {
  .info-group {
    display: none;
  }

  .more-info {
    font-size: 0.75019rem;
  }
}
