@use 'src/styles/scss/' as *;
.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.modal__container {
  position: absolute;
  z-index: 100;
  // transform: translate(0%, 30%);
}
.modal__container img {
  max-width: 25rem;
  width: 100%;
  height: auto;
}
.modal__container__buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.modal__container__buttons button {
  color: white;
  padding: 5% 9%;
  display: flex;
  justify-content: center;
  font-family: Pretendard;
  font-size: 1.333rem;
  font-weight: 400;
}
.modal__container__buttons hr {
  height: 1rem;
  top: 0.53rem;
}
.modal.is-clicked {
  display: none;
}

/* tablet */
@media (max-width: $breakpoint-desktop) {
  .modal__container {
    img {
      max-width: 20.5rem;
    }
    // transform: translate(10%, 30%);

    .modal__container__buttons button {
      font-size: 0.75019rem;
    }
  }
}
@media (max-width: $breakpoint-tablet) {
  .modal__container {
    img {
      max-width: 15.75rem;
    }
    // transform: translate(15%, 50%);

    .modal__container__buttons button {
      font-size: 0.75019rem;
    }
  }
}
