@use '/src/styles/scss' as *;

.article {
  margin-left: 4.38rem;
  width: 100%;
  max-width: 116rem;
  overflow: hidden;
}

.watched-content {
  display: none;
  margin-left: 4.38rem;
  flex-flow: column wrap;
  // gap: 1rem;

  .watchedContent__videoTitle{
    width: 15rem;
  }

  .swiper-slide{
    width: 100%;
    height: 100%;
  }

  div{
    width: 100%;
    height: 100%;
  }


  &__title {
    color: white;
    width: 100%;
  }
  &__container {
    height: 24rem;

    h3 {
      color: white;
    }
  }

  a {
    display: block;
    width: 15rem;
    height: 100%;
  }

  img {
    width: 15rem;
    height: 21.5625rem;
    border-radius: 0.25rem;
    margin-bottom: 0.313;
  }
  &__container {
    display: flex;
    flex-flow: row nowrap;
  }

  span {
    color: white;
    @include font(1.333rem, 600, 150%, Pretendard, $gray-200);
    width: 15rem;
  }
}

.sec-1 {
  height: 24rem;
}

.sec-2 {
  height: 16.5rem;
}

.sec-3 {
  height: 24.25rem;
}

.sec-4 {
  height: 18.3rem;
}

.sec-5 {
  background-color: tomato;
  height: 35.625rem;
}
