@use '/src/styles/scss' as *;
.article {
  margin-left: 4.38rem;
  width: 100%;
  max-width: 116rem;
  overflow: hidden;
}

.watched-content {
  // display: none;
  margin-left: 4.38rem;
  &__container {
    height: 24rem;
  }
}

.watched-content .is-active{
  display: flex;
}

.sec-1 {
  height: 24rem;
}

.sec-2 {
  height: 16.5rem;
}

.sec-3 {
  height: 24.25rem;
}

.sec-4 {
  height: 18.3rem;
}

.sec-5 {
  background-color: tomato;
  height: 35.625rem;
}
