@use "/src/components/header/_header.scss";
@use '/src/styles/scss/' as *;

// .body {
//   // overflow-x: hidden;
//   &::-webkit-scrollbar {
//     display: none;
//   }
// }

.header {
  width: 100%;
  height: 6.25rem;
  background-color: green;
  position: absolute;
  z-index: 3;
  opacity: 30%;
}

.banner-group {
  position: relative;
  overflow-x: hidden;
}

.section-group {
  margin-left: 4.38rem;
  width: 100%;
  max-width: 116rem;
  overflow: hidden;
}

h3 {
  // height: 40.6rem;
  color: white;
  align-items: center;
  /* Heading/XL */
  font-family: Pretendard;
  font-size: 1.77688rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 2.48763rem */
  margin: 0.75rem 0;
}

.sec-1 {
  // background: red;
  height: 24rem;
}

.sec-2 {
  height: 16.5rem;
}

.sec-3 {
  height: 24.25rem;
}

.sec-4 {
  height: 18.3rem;
  background-color: orange;
}

.sec-5 {
  background-color: tomato;
  height: 35.625rem;
}

.promo-banner {
  height: 11.0625rem;
  // max-width: 132.75rem;
  width: 100%;
  margin: 2.25rem 0;
  overflow: hidden;

}

.promo-img{
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  width: 21.74369rem;
  height: 7.5rem;
  // flex-shrink: 0;

  a{
    display: block;
    width: 100%;
    height: 7.5rem;
  }
}
// .event-prom{
//   margin-left: 4.38rem;
//   margin-top: 2.25rem;
// }

.swiper-wrapper-img{
  background-color: yellow;
  height: 7.5rem;
}

.footer-container {
  // margin: 8.75rem 4.25rem;
  span {
    color: white;
  }
}



.more-info {
  display: flex;
  justify-content: space-between;
}

.notice-group {
  display: flex;
  gap: 1.25rem;
}

.dash {
  // margin: 0 1.88rem;
}

.swiper-sec-banner {
  position: relative;
}

.swiper-button-next, .swiper-button-prev {
  color: #898989;
}

