@use '/src/styles/scss/variables' as *;
@use '/src/styles/scss/mixins' as *;

// 테스트 용
body {
  margin: 100px;
}

.profile {
  @include size($profile__width, $profile__height, null, null);

  @include display(column, null, center, center, inline-flex);
  row-gap: $profile__row-gap;

  position: relative;
}

.profile__img {
  @include size($profile__img--width, $profile__img--height, null, null);

  @include default-style($profile__img--border-radius, $profile__img--background, 0);
}

// 프로필 위 까만 블러 효과
.profile__img--overlay {
  @include position(-1px, null, null, 0);

  @include size(100%, $profile__img--overlay-height, null, null);

  @include default-style($profile__img--border-radius, $profile__img--overlay-bgc, 1);
}

// 자물쇠 아이콘(잠금 상태), 연필 아이콘(수정 상태)
.profile__lock, .profile__edit {
  @include size($profile__icon--width, $profile__icon--height, null, null);

  @include position($profile__lock--top, null, null, $profile__lock--left);

  transform: $profile__lock--transform;
  z-index: 2;
}

.profile__name {
  color: $profile__name--color;
  text-align: center;

  @include font($profile__name--font-size, $profile__name--font-weight, $profile__name--line-height, $search--font-family, null);
}

// 태블릿 ver
@media (max-width: $breakpoint-desktop) {
  .profile {
    @include size(8.25rem, 10.1875rem, null, null);
    row-gap: 0.75rem;
  }

  .profile__img {
    @include size(8.25rem, 8.25rem, null, null);
  }

  .profile__lock {
    @include size(3.125rem, 3.125rem, null, null);
  }

  .profile__edit {
    @include size(3.125rem, 3.125rem, null, null);
  }

  .profile__img--overlay {
    height: 81.5%;
  }

  .profile__name {
    @include fontSize-line-height(0.75019rem, 1.20031rem);
  }
}

// 모바일 ver
@media (max-width: $breakpoint-tablet) {
  .profile {
    @include size(7.125rem, 9.0625rem, null, null);
    row-gap: 0.75rem;
  }

  .profile__img {
    @include size(7.125rem, 7.125rem, null, null);
  }

  .profile__lock {
    @include size(3.125rem, 3.125rem, null, null);
  }

  .profile__edit {
    @include size(3.125rem, 3.125rem, null, null);
  }

  .profile__img--overlay {
    // height: ;
    height: 80%;
  }

  .profile__name {
    @include fontSize-line-height(0.75019rem, 1.20031rem);
  }
}
