<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="./article.js"></script>
    <title>배너</title>
  </head>
  <body>
    <article class="article">
      <a href="/" class="article__link">
        <div class="article__link-content">
          <img
            class="article__image-container__logo"
            src="../../assets/baekpacker_logo.webp"
            alt="백패커 로고"
          />
          <img
            class="article__image-container__main-img"
            src="../../assets/baekpacker_img.webp"
            alt="백패커 이미지"
          />
        </div>
      </a>
    </article>
  </body>
</html>
