<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="./article.js"></script>
    <title>배너</title>
  </head>
  <body>
    <section class="section">
      <a href="/" class="section__link">
        <div class="section__link-content">
          <div class="section__link-content--img-group">
            <img
              class="section__link-content__img-group--logo"
              src="../../assets/baekpacker_logo.webp"
              alt="백패커 로고"
            />
            <img
              class="section__link-content__img-group--main-img"
              src="../../assets/baekpacker_img.webp"
              alt="백패커 이미지"
            />
            <p class="section__link-content__img-group--description">우리가 가는 곳이 곧 주방!</p>
            <p class="section__link-content__img-group--description">극한의 출장 요리단이 간다!</p>
          </div>
        </div>
      </a>
    </section>
  </body>
</html>
