@use 'src/styles/scss/' as *;

body {
  font-family: $search--font-family;
}

button {
  @include display(flex, row, center, null);
  position: relative;
  background-color: $brand-red-2;
  width: 31.625rem;
  height: 5rem;
  padding: 0.5rem 4rem 0.5rem 0.5rem;
  gap: 1.5rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: $brand-red-2;

  span {
    padding-left: 6.25rem;
    position: absolute;
    color: $white;
    text-align: right;
    font-size: 1.77688rem;
    font-weight: 600;
    line-height: 150%;
  }

  img {
    position: absolute;
    top: 0;
    
    width: 3.40981rem;
    height: 3.9375rem;
  }
}

@media (max-width: $breakpoint-desktop) {
  button {
    justify-content: center;
    display: flex;
    width: 17.6875rem;
    height: 3rem;
    padding: 0rem 2.75rem 0rem 0.5rem;
    flex-direction: column;
    align-items: flex-start;

    span {
      padding-left: 3rem;
      position: absolute;
      color: $white;
      text-align: right;
      font-size: 1rem;
      font-weight: 600;
      line-height: 150%;
    }

    img {
      width: 1.94844rem;
      height: 2.25rem;
      flex-shrink: 0;
      padding: 0rem 0.17656rem 0rem 0.125rem;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  button {
    display: flex;
    width: 11.75rem;
    height: 2.125rem;
    padding: 0rem 1rem 0rem 0.5rem;
    flex-direction: column;
    align-items: flex-start;

    span {
      padding-left: 1.5rem;
      text-align: right;
      font-family: Pretendard;
      font-size: 0.75019rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.12531rem;
    }

    img {
      width: 1.40725rem;
      height: 1.625rem;
      flex-shrink: 0;
    }
  }
}