@mixin button__style($width, $height, $padding, $flex-direction) {
  flex-direction: $flex-direction;
  width: $width;
  height: $height;
  padding: $padding;
}

@mixin button__text__style($padding-left, $font-size) {
  padding-left: $padding-left;
  font-size: $font-size;
  position: absolute; // span 요소의 position을 absolute로 고정
  color: #fff;
  text-align: right;
  font-weight: 600;
  line-height: 150%;
}

@mixin button__logo__style($width, $height, $padding) {
  width: $width;
  height: $height;
  padding: $padding;
  flex-shrink: 0; // 이미지 크기 유지
}

.rending__button {
  position: relative; // span과 img 요소의 position absolute 기준 설정
  background-color: #e93945;
  display: flex;
  @include button__style(31.625rem, 5rem, 0.5rem 4rem 0.5rem 0.5rem, row);
  align-items: center;
  gap: 1.5rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: #e93945;

  span {
    @include button__text__style(6.25rem, 1.77688rem);
  }

  img {
    position: absolute;
    top: 0;
    @include button__logo__style(
      auto,
      auto,
      0
    ); // 초기 이미지 스타일 설정 (크기, 패딩은 0)
  }

  @media (max-width: 768px) {
    @include button__style(17.6875rem, 3rem, 0rem 2.75rem 0rem 0.5rem, column);
    align-items: flex-start;
    justify-content: center;
    span {
      @include button__text__style(4rem, 1rem);
    }

    img {
      @include button__logo__style(
        1.94844rem,
        2.25rem,
        0rem 0.17656rem 0rem 0.125rem
      );
    }
  }

  @media (max-width: 320px) {
    @include button__style(11.75rem, 2.125rem, 0rem 1rem 0rem 0.5rem, column);
    align-items: flex-start;

    span {
      @include button__text__style(1.5rem, 0.75019rem);
    }

    img {
      @include button__logo__style(1.40725rem, 1.625rem, 0);
    }
  }
}
