<!doctype html>
<html lang="ko-KR">
  <head>
    <title>Vite Scss</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="module"
      src="/components/rendingbutton/rendingbutton.js"
    ></script>
  </head>
  <body>
    <div class="rending">
      <button class="rending__button">
        <img src="/assets/icon.png" alt="" srcset="" />
        <span>새로워진 티빙을 만나보세요!</span>
      </button>
    </div>
  </body>
</html>
