@use '/src/styles/scss' as *;

// 변수



// 믹스인



body {
  font-family: $search--font-family;
  background-color: #000000;
  margin: 0;

  &::-webkit-scrollbar {
    display: none;
  }
}


// 섹션 1----------------------------------
.section-1 {
  height: 50rem; // 임의로 정함
  position: relative;

  .section-1__img-box {
    position: relative;
  }

  .section-1__img-box--backgroundImg, .section-1__img-box--gradationImg {
    width: 100%;
    height: 51rem;
  
    position: absolute;
    top: -100px;
    object-fit: cover;
  }

  .section-1__img-box--backgroundImg {
    height: 58rem;
    z-index: 1;
  }

  .section-1__img-box--gradationImg {
    height: 59rem;
    z-index: 2;
  }

  .button {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
}

// 섹션 2----------------------------------
.section-2 {
  height: 53rem; // 임의로 정함

  display: flex;
  flex-direction: column;
  align-items: center;

  .section-2__swiper-box {
    width: 88.3rem;
    height: 31.9rem;
    margin-top: 3.19rem;

    img {
      width: 56.7rem;
      height: 31.88rem;
      border-radius:  0.25rem ;
    }
  }
}

// 섹션 3----------------------------------
.section-03 {
  height: 63rem;

  .section-03__swiper-box {
    height: 33rem;

    padding-top: 4.37rem;
    padding-bottom: 4.37rem;

    div {
      margin-bottom: 0.25rem;
    }

    img {
      width: 29.375rem;
      height: 16.52344rem;
      // margin-left: 1.25rem; // 이미지 사이 간격
    }
  }
}

// 섹션 4----------------------------------
.section-04 {
  height: 57rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  position: relative;
  
  p {
    color: #fff;
    font-family: Pretendard;
    font-size: 3.15731rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.42025rem;

    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
  }

  .button {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    // z-index: 3;
  }
}
// ---------------------------------------

.section-1__text-box {
  user-select: none;
  width: 100%;

  position: absolute;
  z-index: 3;

  top: 20%; // 위치 조정
  left: 50%;
  transform: translateX(-50%);

  text-align: center;

  .title {
    text-align: center;

    color: var(--white, #fff);
    font-family: Pretendard;
    font-size: 3.15731rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.42025rem;

    h2 {
      margin: 0;

      color: #fff;
      font-family: Pretendard;
      font-size: 3.15731rem;
      font-style: normal;
      font-weight: 700;
      line-height: 4.42025rem;
    }
  }

  .explain {
    margin-top: 1.25rem;

    text-align: center;

    color: var(--gray-400, #898989);
    font-family: 'Pretendard';
    font-size: 1.77688rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.66531rem;
  }

  .explain2 {
    text-align: center;
    margin-top: 0.5rem;

    color: var(--gray-200, #c4c4c4);
    font-family: Pretendard;
    font-size: 1.333rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.13281rem;
  }
}

.text {
  user-select: none;
  z-index: 0;

  display: flex;
  flex-direction: column;

  padding-top: 10rem;

  .title {
    text-align: center;

    color: var(--white, #fff);
    font-family: Pretendard;
    font-size: 3.15731rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.42025rem;

    h2 {
      margin: 0;

      color: #fff;
      font-family: Pretendard;
      font-size: 3.15731rem;
      font-style: normal;
      font-weight: 700;
      line-height: 4.42025rem;
    }
  }

  .explain {
    margin-top: 1.25rem;

    text-align: center;

    color: var(--gray-400, #898989);
    font-family: 'Pretendard';
    font-size: 1.77688rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.66531rem;
  }

  .explain2 {
    text-align: center;
    margin-top: 0.5rem;

    color: var(--gray-200, #c4c4c4);
    font-family: Pretendard;
    font-size: 1.333rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.13281rem;
  }
}

