<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="header.scss" />
    <title>Header Component</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <div class="logo-menu">
          <a href="#" class="logo"></a>

          <ul class="menu">
            <a href="#" class="icon-text">
              <span class="icon-live"></span>
              <span class="text">실시간</span>
            </a>

            <a href="#" class="icon-text">
              <span class="text">TV 프로그램</span>
            </a>

            <a href="#" class="icon-text">
              <span class="text">영화</span>
            </a>

            <a href="#" class="icon-text">
              <div class="paramount"></div>
            </a>
          </ul>
        </div>

        <div class="aside">
          <a href="#">
            <div class="icon-search"></div>
          </a>
          <a href="#">
            <div class="icon-profile"></div>
          </a>
        </div>
      </nav>
    </header>
    <!-- 
    <header class="header">
      <nav class="nav">
        <a href="#" class="logo"></a>

        <ul class="menu">
          <a href="#">
            <div class="icon-live"></div>
            <span class="text">실시간</span>
          </a>

          <a href="#">
            <span class="text">TV 프로그램</span>
          </a>

          <a href="#">
            <span class="text">영화</span>
          </a>

          <a href="#">
            <div class="paramount"></div>
          </a>
        </ul>

        <div class="aside">
          <a href="#">
            <div class="icon-search"></div>
          </a>
          <a href="#">
            <div class="icon-profile"></div>
          </a>
        </div>
      </nav>
    </header> -->

    <script src="header.js"></script>
  </body>
</html>
