<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header Component</title>
    <link rel="stylesheet" href="header.scss" />
    <script type="module" src="./header.js"></script>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <div class="header__nav__logo-menu">
          <a href="#" class="header__logo">
            <img src="/src/assets/logo_1.png" alt="Logo" class="header__logo" />
          </a>

          <div class="header__menu-wrapper">
            <ul class="header__menu">
              <li style="list-style: none">
                <a href="#" class="header__menu-item" aria-label="Live">
                  <img
                    src="/src/assets/live_1_default.png"
                    alt="Live Icon"
                    class="header__icon-live"
                  />
                  <span class="text">실시간</span>
                </a>
              </li>
              <li style="list-style: none">
                <a href="#" class="header__menu-item" aria-label="TV Programs">
                  <span class="text">TV 프로그램</span>
                </a>
              </li>
              <li style="list-style: none">
                <a href="#" class="header__menu-item" aria-label="Movies">
                  <span class="text">영화</span>
                </a>
              </li>
              <li style="list-style: none">
                <a href="#" class="header__menu-item" aria-label="Paramount">
                  <img
                    src="/src/assets/paramount_1_default.png"
                    alt="Paramount Icon"
                    class="header__paramount"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="aside">
          <a href="#" aria-label="Search">
            <img
              src="/src/assets/search_1_default.png"
              alt="Search Icon"
              class="header__icon-search"
            />
          </a>
          <a href="#" aria-label="Profile">
            <img
              src="/src/assets/usericon_1.png"
              alt="Profile Icon"
              class="header__icon-profile"
            />
          </a>
        </div>
      </nav>
    </header>

    <!-- <script src="header.js"></script> -->
  </body>
</html>

<!-- <!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header Component</title>
    <link rel="stylesheet" href="header.scss" />
    <script type="module" src="../header/header.js"></script>
    <style>
      body {
        margin: 0; /* 기본 마진 제거 */
      }
    </style>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <div class="header__nav__logo-menu">
          <a href="#" class="header__logo">
            <img src="/assets/logo_1.png" alt="Logo" class="header__logo" />
          </a>

          <div class="header__menu-wrapper">
            <ul class="header__menu">
              <li style="list-style: none">
                <a href="#" class="header__menu-item" aria-label="Live">
                  <img
                    src="/assets/live_1_default.png"
                    alt="Live Icon"
                    class="header__icon-live"
                  />
                  <span class="text">실시간</span>
                </a>
              </li>
              <li style="list-style: none">
                <a href="#" class="header__menu-item" aria-label="TV Programs">
                  <span class="text">TV 프로그램</span>
                </a>
              </li>
              <li style="list-style: none">
                <a href="#" class="header__menu-item" aria-label="Movies">
                  <span class="text">영화</span>
                </a>
              </li>
              <li style="list-style: none">
                <a href="#" class="header__menu-item" aria-label="Paramount">
                  <img
                    src="/src/assets/paramount_1_default.png"
                    alt="Paramount Icon"
                    class="header__paramount"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="aside">
          <a href="#" aria-label="Search">
            <img
              src="/src/assets/search_1_default.png"
              alt="Search Icon"
              class="header__icon-search"
            />
          </a>
          <a href="#" aria-label="Profile">
            <img
              src="/src/assets/usericon_1.png"
              alt="Profile Icon"
              class="header__icon-profile"
            />
          </a>
        </div>
      </nav>
    </header>

    <script src="header.js"></script>
  </body>
</html> -->
