@use 'src/styles/scss/' as *;

body {
  position: relative;
}

.loading {
  position: fixed;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 500;
  width: 100%;
  height: 100%;
  .mask {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
