@use "src/styles/scss/" as *;

body {
  background-color: $black;
}

.footer--contents {
  min-width: $breakpoint-desktop;
  width: 100%;
  margin: 0, 4.25rem;
  border: 0.0625rem solid $gray-800;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

footer {
  margin-top: 8.75rem;
  margin-bottom: 10.52rem;
  margin-left: 4.25rem;
  margin-right: 4.25rem;
  @include display(column, null, flex-start, null);
  align-self: stretch;
  gap: 1.5rem;

  @include font(1.333rem, 400, 160%, Pretendard, $gray-500);

  .footer--util {
    margin-top: 1.69rem;
    display: flex;
    gap: 2.25rem;

    span {
      @include font(1.333rem, 400, 160%, Pretendard, $gray-200);
      white-space: nowrap;
    }
  }

  ul {
    margin: 1.5rem 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;

    li {
      white-space: nowrap;
      @include display(row, null, center, center);
      @include size(3.25rem, 3.25rem, 3.25rem, 3.25rem);
      background-color: $gray-800;
      border-radius: 1.875rem;
    }

    li img {
      @include size(50%, 50%, 50%, 50%);
    }
  }

  p {
    white-space: nowrap;
    @include display(row, null, center, null);
    position: relative;
    @include font(1.333rem, 400, 160%, Pretendard, $gray-500);
    gap: 0.5rem;
    align-self: stretch;

    span:not(:first-child)::before {
      content: '';
      display: inline-block;
      width: 1px;
      height: 11px;
      background-color: $gray-800;
      vertical-align: middle; /* 구분선 중앙 정렬 */
      margin-right: 0.5rem;
    }

    .textunderline {
      text-decoration: underline;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .footer--contents {
    min-width: $breakpoint-tablet;
  }
  footer {
    @include font(0.75019rem, 400, 160%, Pretendard, $gray-500);
    p {
      @include font(0.75019rem, 400, 160%, Pretendard, $gray-500);
    }

    ul {
      li {
        @include display(row, null, center, center);
        @include size(1.875rem, 1.875rem, 1.875rem, 1.875rem);
        background-color: $gray-800;
        border-radius: 1.875rem;
      }

      li img {
        @include size(50%, 50%, 50%, 50%);
      }
    }

    .footer--util {
      span {
        @include font(0.75019rem, 400, 160%, Pretendard, $gray-200);
      }
    }

    p {
      @include font(0.75019rem, 400, 160%, Pretendard, $gray-500);
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  footer {
    p {
      @include font(0.75019rem, 400, 160%, Pretendard, $gray-500);
    }
  }
  .footer--contents {
    min-width: $breakpoint-mobile;
  }
  .footer--p {
    display: none;
  }
  footer {
    .footer--util {
      display: flex;
      flex-direction: column;
      gap: 0px;
    }
  }
  ul {
    li {
      @include display(row, null, center, center);
      gap: 1rem;
      @include size(1.5rem, 1.5rem, 1.5rem, 1.5rem);
      background-color: $gray-800;
      border-radius: 1.875rem;
    }

    li img {
      @include size(50%, 50%, 50%, 50%);
    }
  }
}
