@use 'src/styles/scss/' as *;
// 테스트 하려고 넣음

.search-list-group {
  width: 50rem;
}

.search__recent-searches {
  @include size(
    $search__recent-searches--width,
    $search__recent-searches--height,
    null,
    null
  );

  background-color: $search__recent-searches--bgc;

  @include display(column, flex-start, null, null);
}

// 최근 검색어 X
// (최근 검색어가 없는 창의 CSS는 <최근 검색어 O>의 html과 CSS에 주석 처리하고 사용)------------------------------
.search__recent-searches--no-result {
  @include display(column, null, flex-start, null);

  gap: 1.25rem;
}

.search__recent-searches--no-result-title {
  margin: 0;
  color: $search__recent-searches--no-result-title-color;

  @include font(1.77688rem, 600, 2.66531rem, $search--font-family, null);
}

.search__recent-searches--no-result-content {
  color: $search__recent-searches--no-result-content-color;

  @include font(1.333rem, 400, 2.13281rem, $search--font-family, null);
}

// 최근 검색어 O (검색어 리스트)-----------------
// (최근 검색어가 있는 창의 CSS는 <최근 검색어 X>의 html과 CSS에 주석 처리하고 사용)------------------------------
// .search__recent-searches--has-results {
//   @include display(row, null, null, null);

//   gap: 1.5rem;
// }

// .search__recent-searches--has-results-title {
//   color: $search__recent-searches--title-color;
//   @include font(1.77688rem, 600, 2.66531rem, $search--font-family, null);

//   margin: 0;
// }

// .search__recent-searches--list {
//   @include display(column, null, null, null);
//   list-style: none;

//   margin-top: 1.25rem;
//   padding: 0;
//   gap: 1rem;
// }

// .search__recent-searches--list-title {
//   color: $search__recent-searches--list-title-color;
//   background-color: transparent;
//   border: none;

//   font-style: normal;
//   @include font(1.333rem, 600, 1.9995rem, $search--font-family, null);

//   padding: 0;
// }

// .search__recent-searches--list-delete {
//   color: $search__recent-searches--list-delete-color;
//   background-color: transparent;
//   border: none;

//   @include size(
//     $search__recent-searches--list-delete-width,
//     $search__recent-searches--list-delete-height, null, null
//   );
//   opacity: 0.5;

//   svg {
//     @include size(
//       $search__recent-searches--list-delete-svg-width,
//       $search__recent-searches--list-delete-svg-height, null, null
//     );
//   }
// }

// // 모두 지우기 버튼
// .search__recent-searches--all-delete {
//   color: $search__recent-searches--all-delete-color;
//   background-color: transparent;
//   border: none;

//   font-style: normal;
//   @include font(1.333rem, 600, 1.9995rem, $search--font-family, null);

//   display: flex;
//   position: absolute;

//   @include margin-padding(0, 0);
//   margin-top: 0.3125rem;
// }

// .search__recent-searches--all-delete-icon {
//   margin-left: 6.75rem;
//   @include position(20%, null, null, null);
// }
// ---------------------------------------

// 인기 검색어---------------------------------------
.search__popular-searches {
  @include size(100%, 100%, null, null);

  @include display(column, null, flex-start, null);
  background-color: $brand-dark-bg-1;
}

.search__popular-searches--title {
  color: $search__popular-searches--title-color;

  @include font(1.77688rem, 600, 2.66531rem, $search--font-family, null);
  font-style: normal;
}

.search__popular-searches--list {
  list-style: none;
  gap: 1rem; // 랭킹과 랭킹 사이 갭

  @include display(column, null, null, null);
  @include margin-padding(0, 0);
}

// 인기 검색어 랭킹
.search__popular-searches--content {
  @include display(row, null, null, null);

  gap: 2.75rem; // 랭킹과 타이틀 사이 갭
}

.search__popular-searches--rank {
  color: $search__popular-searches--rank-color;

  @include font(1.333rem, 700, 2.13281rem, $search--font-family, null);
  font-style: normal;
}

.search__popular-searches--content-title {
  width: 42.5rem;
  text-decoration: none;

  display: flex;

  h3 {
    margin: 0;
    color: $search__popular-searches--content-title-color;
    @include font(1.333rem, 600, 1.9995rem, $search--font-family, null);
    font-style: normal;
  }
}

.search__date {
  color: $search__date-color;

  @include font(1.333rem, 400, 2.13281rem, $search--font-family, null);
  font-style: normal;
}

// 반응형 ============================================
// 태블릿 ver
@media (max-width: $breakpoint-desktop) {
  .search__recent-searches {
    @include size(32.625rem, 21.9375rem, null, null);
  }

  // 최근 검색어 X
  // (최근 검색어가 없을 때의 CSS, <최근 검색어 O>의 html과 CSS에 주석 처리하고 사용)------------------------------
  .search__recent-searches--box {
    gap: 0.75rem;
  }

  .search__recent-searches--no-result-title {
    @include fontSize-line-height(1rem, 1.5rem);
  }

  .search__recent-searches--no-result-content {
    @include fontSize-line-height(0.75019rem, 1.20031rem);
  }

  // 최근 검색어 O (검색어 리스트)
  // (최근 검색어가 있을 때의 CSS, <최근 검색어 X>의 html과 CSS에 주석 처리하고 사용)------------------------------
  // .search__recent-searches--has-results {
  //   gap: 1.25rem;
  // }

  // .search__recent-searches--has-results-title {
  //   @include fontSize-line-height(1rem, 1.5rem);
  // }

  // .search__recent-searches--list {
  //   gap: 0.5rem;
  // }

  // .search__recent-searches--list-title {
  //   @include fontSize-line-height(0.75019rem, 1.12531rem);
  // }

  // .search__recent-searches--list-delete {
  //   background-color: transparent;
  //   border: none;

  //   color: $search__recent-searches--list-delete-color;

  //   @include size(0.93738rem, 0.93688rem, null, null);
  //   opacity: 0.5;

  //   svg {
  //     @include size(0.75rem, 0.75rem, null, null);
  //   }
  // }

  // // 모두 지우기 버튼
  // .search__recent-searches--all-delete {
  //   @include fontSize-line-height(0.75019rem, 1.12531rem);

  //   @include margin-padding(0, 0);
  //   margin-top: 5px;
  // }

  // .search__recent-searches--all-delete-icon {
  //   @include size(0.75rem, 0.75rem, null, null);
  //   margin-left: 3.6875rem;
  // }

  // 인기 검색어-------------------------------------
  .search__popular-searches {
    @include size(14.125rem, 21.25rem, null, null);
  }

  .search__popular-searches--title {
    @include fontSize-line-height(1rem, 1.5rem);
  }

  .search__popular-searches--list {
    gap: 0.56rem; // 랭킹과 랭킹 사이 갭
  }

  // 인기 검색어 랭킹
  .search__popular-searches--content {
    gap: 1.13rem;
  }

  .search__popular-searches--rank {
    @include font(0.75019rem, 600, 1.12531rem, $search--font-family, null);
  }

  .search__popular-searches--content-title {
    text-decoration: none;

    display: flex;
    width: 42.5rem;

    h3 {
      @include fontSize-line-height(0.75019rem, 1.12531rem);
    }
  }

  .search__date {
    @include fontSize-line-height(0.75019rem, 1.20031rem);

    margin-top: 0.44rem;
  }
}

// 모바일 ver
@media (max-width: $breakpoint-tablet) {
  // 최근 검색어는 모바일 X

  // 인기 검색어-------------------------------------
  .search__popular-searches {
    @include size(14.125rem, 21.25rem, null, null);
  }

  .search__popular-searches--title {
    @include fontSize-line-height(1rem, 1.5rem);
  }

  .search__popular-searches--list {
    gap: 0.56rem; // 랭킹과 랭킹 사이 갭
  }

  // 인기 검색어 랭킹
  .search__popular-searches--content {
    gap: 1.13rem;
  }

  .search__popular-searches--rank {
    @include font(0.75019rem, 600, 1.12531rem, $search--font-family, null);
  }

  .search__popular-searches--content-title {
    text-decoration: none;

    display: flex;
    width: 42.5rem;

    h3 {
      @include fontSize-line-height(0.75019rem, 1.12531rem);
    }
  }

  .search__date {
    @include fontSize-line-height(0.75019rem, 1.20031rem);

    margin-top: 0.44rem;
  }
}
