@use '/src/styles/scss' as *;

$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

.card-section {
  position: relative;
  max-width: 15rem;
  height: 26rem;
  width: 100%;

  // .card {
  //   position: relative;
  //   height: auto;
  //   width: 100%;
  //   height: 100%;
  // }

  img {
    display: block;
    max-width: 15rem;
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 0.25rem;
  }

  .card--wrapper {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    align-items: flex-end;
    gap: var(--base, 0.75rem);
    // bottom: -4rem;
    width: 100%;
    height: 3.75rem;
  }
}

.card__wrapper--rank {
  color: var(--white, #fff);
  font-family: 'Noto Sans KR';
  font-size: 4.375rem;
  font-style: italic;
  font-weight: 700;
  line-height: 160%;
  display: flex;
  align-items: flex-end;
}

.card__wrapper--title {
  color: var(--gray-200, #c4c4c4);
  font-family: Pretendard;
  font-size: 1.333rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  overflow: hidden;
  display: flex;
  align-items: end;
  text-overflow: ellipsis;
  white-space: nowrap;
  // width: 10rem;
  flex: 1;
}

.dot {
  display: flex;
  height: 2rem;
  padding-top: 0.2rem;
  align-items: flex-start;
}

.card__wrapper--dot {
  background: var(--brand-red-2, #e93945);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  align-self: flex-start;
}

.scrap {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--base, 0.5rem);
  margin-bottom: 0.6rem;
  // bottom: 0.1rem;
  // width: 10rem;
}

// tablet
@media (max-width: $breakpoint-desktop) {
  .card-section {
    width: 8.125rem;
    height: 14.25rem;

    img {
      max-width: 8.23225rem;
    }
  }

  .card__wrapper {
    width: 3rem;
    &--rank {
      font-size: 2.875rem;
      margin-bottom: 0.9rem;
    }
  }
  .card__wrapper--title {
    font-size: 0.75019rem;
  }

  .scrap {
    margin-bottom: 1rem;
    gap: var(--base, 0.2rem);
  }
}

// mobile
@media (max-width: $breakpoint-tablet) {
  .card-section {
    width: 5.75rem;
    height: 10.625rem;

    img {
      max-width: 5.80588rem;
    }
  }

  .card__wrapper {
    width: 0.5rem;
    &--rank {
      font-size: 2.125rem;
      // margin-bottom: 0.9rem;
    }
  }

  .card--img{
    width: 100%;
  }
  .card__wrapper--title {
    font-size: 0.75019rem;
    width: 3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .scrap {
    margin-bottom: 1rem;
    gap: 0.2rem;
  }
}
