:root {
  /* TYPE */
  --heading-medium-family: "Pretendard";
  --heading-medium-size: 16px;
  --heading-medium-size-rem: 1rem;
  --heading-medium-weight: 700;
  --heading-medium-style: normal;
  --heading-medium-line-height: 140%;
  --heading-large-family: "Pretendard";
  --heading-large-size: 21.33px;
  --heading-large-size-rem: 1.333rem;
  --heading-large-weight: 700;
  --heading-large-style: normal;
  --heading-large-line-height: 140%;
  --heading-xl-family: "Pretendard";
  --heading-xl-size: 28.43px;
  --heading-xl-size-rem: 1.7769rem;
  --heading-xl-weight: 700;
  --heading-xl-style: normal;
  --heading-xl-line-height: 140%;
  --heading-xxl-family: "Pretendard";
  --heading-xxl-size: 37.9px;
  --heading-xxl-size-rem: 2.3686rem;
  --heading-xxl-weight: 700;
  --heading-xxl-style: normal;
  --heading-xxl-line-height: 140%;
  --heading-xxxl-family: "Pretendard";
  --heading-xxxl-size: 50.52px;
  --heading-xxxl-size-rem: 3.1573rem;
  --heading-xxxl-weight: 700;
  --heading-xxxl-style: normal;
  --heading-xxxl-line-height: 140%;
  --label-small-family: "Pretendard";
  --label-small-size: 12px;
  --label-small-size-rem: 0.7502rem;
  --label-small-weight: 600;
  --label-small-style: normal;
  --label-small-line-height: 150%;
  --label-medium-family: "Pretendard";
  --label-medium-size: 16px;
  --label-medium-size-rem: 1rem;
  --label-medium-weight: 600;
  --label-medium-style: normal;
  --label-medium-line-height: 150%;
  --label-large-family: "Pretendard";
  --label-large-size: 21.33px;
  --label-large-size-rem: 1.333rem;
  --label-large-weight: 600;
  --label-large-style: normal;
  --label-large-line-height: 150%;
  --label-xl-family: "Pretendard";
  --label-xl-size: 28.43px;
  --label-xl-size-rem: 1.7769rem;
  --label-xl-weight: 600;
  --label-xl-style: normal;
  --label-xl-line-height: 150%;
  --label-xxl-family: "Astloch";
  --label-xxl-size: 37.9px;
  --label-xxl-size-rem: 2.3686rem;
  --label-xxl-weight: 600;
  --label-xxl-style: normal;
  --label-xxl-line-height: 150%;
  --paragraph-small-family: "Pretendard";
  --paragraph-small-size: 12px;
  --paragraph-small-size-rem: 0.7502rem;
  --paragraph-small-weight: 400;
  --paragraph-small-style: normal;
  --paragraph-small-line-height: 160%;
  --paragraph-medium-family: "Pretendard";
  --paragraph-medium-size: 16px;
  --paragraph-medium-size-rem: 1rem;
  --paragraph-medium-weight: 400;
  --paragraph-medium-style: normal;
  --paragraph-medium-line-height: 160%;
  --paragraph-large-family: "Pretendard";
  --paragraph-large-size: 21.33px;
  --paragraph-large-size-rem: 1.333rem;
  --paragraph-large-weight: 400;
  --paragraph-large-style: normal;
  --paragraph-large-line-height: 160%;
  --paragraph-xl-family: "Pretendard";
  --paragraph-xl-size: 28.43px;
  --paragraph-xl-size-rem: 1.7769rem;
  --paragraph-xl-weight: 400;
  --paragraph-xl-style: normal;
  --paragraph-xl-line-height: 160%;

  /* COLORS */
  --black: #000000;
  --white: #ffffff;
  --gray-100: #e1e1e1;
  --gray-200: #c4c4c4;
  --gray-300: #a6a6a6;
  --gray-400: #898989;
  --gray-500: #6b6b6b;
  --gray-600: #565656;
  --gray-700: #404040;
  --gray-800: #2b2b2b;
  --gray-900: #151515;
  --brand-red-1: #ff153c;
  --brand-red-2: #e93945;
  --brand-dark-bg-1: #191919;
  --brand-dark-bg-2: #212121;

  /* SHADOWS */
  --text: inset 1px 1px 0 0 #000000;
  --above-high: 0 -16px 48px 0 rgba(0 0 0 / 0.3);
  --above-medium: 0 -8px 36px 0 rgba(0 0 0 / 0.2);
  --above-low: 0 -4px 24px 0 rgba(0 0 0 / 0.1);
  --below-high: 0 16px 48px 0 rgba(0 0 0 / 0.3);
  --below-medium: 0 8px 36px 0 rgba(0 0 0 / 0.2);
  --below-low: 0 4px 24px 0 rgba(0 0 0 / 0.1);
}