// Font Family
$search--font-family: 'Pretendard';

// Breakpoints
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Colors
$black: #000000;
$white: #ffffff;
$gray-100: #e1e1e1;
$gray-200: #c4c4c4;
$gray-300: #a6a6a6;
$gray-400: #898989;
$gray-500: #6b6b6b;
$gray-600: #565656;
$gray-700: #404040;
$gray-800: #2b2b2b;
$gray-900: #151515;
$brand-red-1: #ff153c;
$brand-red-2: #e93945;
$brand-dark-bg-1: #191919;
$brand-dark-bg-2: #212121;

// Typography
// -----------------------------------------------------------------------------

// Headings (Pretendard)
$heading-family: 'Pretendard';
$heading-style: normal;
$heading-weight: 700;
$heading-line-height: 140%;

$heading-medium: 1rem; /* 16px */
$heading-medium-size: 16px;
$heading-large: 1.333rem; /* 21.33px */
$heading-large-size: 21.33px;
$heading-xl: 1.7769rem; /* 28.43px */
$heading-xl-size: 28.43px;
$heading-xxl: 2.3686rem; /* 37.9px */
$heading-xxl-size: 37.9px;
$heading-xxxl: 3.1573rem; /* 50.52px */
$heading-xxxl-size: 50.52px;

// Labels (Pretendard & Astloch)
$label-family: 'Pretendard';
$label-style: normal;
$label-weight: 600;
$label-line-height: 150%;

$label-small: 0.7502rem;
$label-medium: 1rem;
$label-large: 1.333rem;
$label-xl: 1.7769rem;

$label-xxl-family: 'Astloch';
$label-xxl: 2.3686rem;

// Paragraphs (Pretendard)
$paragraph-family: 'Pretendard';
$paragraph-style: normal;
$paragraph-weight: 400;
$paragraph-line-height: 160%;

$paragraph-small: 0.7502rem;
$paragraph-medium: 1rem;
$paragraph-large: 1.333rem;
$paragraph-xl: 1.7769rem;

// Search-Specific Variables
// -----------------------------------------------------------------------------

// Recent Searches
$search__recent-searches--width: 680px;
$search__recent-searches--height: 613px;
$search__recent-searches--title-color: $gray-200;
$search__recent-searches--bgc: $black;
$search__recent-searches--no-result-title-color: $gray-200;
$search__recent-searches--no-result-content-color: $gray-300;
$search__recent-searches--list-title-color: $gray-300;
$search__recent-searches--list-delete-color: $gray-300;
$search__recent-searches--all-delete-color: $gray-600;
$search__recent-searches--list-delete-width: 0.93738rem;
$search__recent-searches--list-delete-height: 0.93688rem;
$search__recent-searches--list-delete-svg-width: 0.9375rem;
$search__recent-searches--list-delete-svg-height: 0.9375rem;

// Popular Searches
$search__popular-searches-width: 680px;
$search__popular-searches-height: 613px;
$search__popular-searches--title-color: $gray-200;
$search__popular-searches--content-title-color: $gray-300;
$search__popular-searches--rank-color: $brand-red-1;

// Date
$search__date-color: $gray-500;

// Shadows
$text: inset 1px 1px 0 0 #000000;
$above-high: 0 -16px 48px 0 rgba(0 0 0 / 0.3);
$above-medium: 0 -8px 36px 0 rgba(0 0 0 / 0.2);
$above-low: 0 -4px 24px 0 rgba(0 0 0 / 0.1);
$below-high: 0 16px 48px 0 rgba(0 0 0 / 0.3);
$below-medium: 0 8px 36px 0 rgba(0 0 0 / 0.2);
$below-low: 0 4px 24px 0 rgba(0 0 0 / 0.1);


// Profile Variables
// -----------------------------------------------------------------------------
$profile__width: 14.625rem;
$profile__height: 18.4375rem;
$profile__row-gap: 1rem;

$profile__name--color: #a6a6a6;
$profile__name--font-family: 'Pretendard';
$profile__name--font-size: 1.78rem;
$profile__name--font-weight: 400;
$profile__name--line-height: 2.843rem;

$profile__img--width: 14.625rem;
$profile__img--height: 14.625rem;
$profile__img--border-radius: 0.25rem;
$profile__img--background: rgba(0, 0, 0, 0.5);

$profile__icon--width: 3.75rem;
$profile__icon--height: 3.75rem;
$profile__lock--top: 42%;
$profile__lock--left: 50%;
$profile__lock--transform: translate(-50%, -50%);

$profile__img--overlay-height: 15rem;
$profile__img--overlay-bgc: rgba(0, 0, 0, 0.5);

// Profile-Page
$main__h2--color: #FFF;
$main__p--color: #C4C4C4;

$main__button--border: 1px solid #565656;
$main__button-p--color: #A6A6A6;


// Landing-Page Variables
// -----------------------------------------------------------------------------
$section-1--height: 50rem;
$section-1__img-box-img--width: 100%;
$section-1__img-box-img--height: 51rem;

$section-2--height: 53rem;
$section-2__swiper-box--width: 88.3rem;
$section-2__swiper-box--height: 31.9rem;
$section-2__swiper-box-img--width: 56.7rem;
$section-2__swiper-box-img--height: 31.88rem;

$section-3--height: 63rem;
$section-3__swiper-box--height: 33rem;
$section-3__swiper-box-img--width: 29.375rem;
$section-3__swiper-box-img--height: 16.52344rem;

$section-4__text-color: #fff;
$section-4__text-font-size: 3.15731rem;

$text-box__title--color: #fff;
$text-box__title--font-size: 3.15731rem;
$text-box__explain--color: #898989;
$text-box__explain--font-size: 1.77688rem;
$text-box__explain2--color: #c4c4c4;
$text-box__explain2--font-size: 1.333rem;




