@use '@/styles/scss/' as *;

.banner__link--container {
  @include display(flex, null, null, null, center);
  position: relative;
  width: 100%;
  height: auto;
}

.banner__link__container--img {
  width: 100%;
  height: auto;
}

.banner__link__container--group {
  position: absolute;
  left: 2.67rem;
  bottom: 2.66rem;
  display: flex;
  flex-flow: column nowrap;
  width: 30rem;
  max-width: 100%;
  margin: 0;
  height: auto;
}

.banner__link__container__group--logo {
  width: 100%;
  z-index: 10;
  justify-content: left;
  margin-bottom: 1rem;
}

.banner__link__container__group--desc {
  @include font(1.77688rem, 400, 130%, Pretendard, white);
  font-style: normal;
  margin: 0;
}

/* ---------------- 반응형 -------------------------- */
// 태블릿
@media (max-width: $breakpoint-desktop) {
  .banner__link__container--group {
    width: 20rem;
  }

  .banner__link__container__group--desc {
    font-size: 1.2rem;
  }
}

// 모바일
@media (max-width: $breakpoint-tablet) {
  .banner__link__container--group {
    width: 15rem;
  }

  .banner__link__container__group--desc {
    font-size: 1rem;
  }
}
