@use '@/styles/scss/' as *;

$breakpoint-mobile: 20rem;
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 64rem;

.article__link-content {
  @include display(flex, null, null, center);
  position: relative;
}

.article__image-container__logo {
  @include position(null, 2rem, null, 5%, absolute);
  @include size(100%, auto, 35rem, 100%);
  z-index: 10;
  justify-content: left;
}

.article__image-container__main-img {
  @include size(100%, auto, 120rem, null);
  object-fit: cover;
}

// 
@media (max-width: $breakpoint-desktop) {
  .article__image-container__main-img {
    @include size(100%, auto, null, null);
  }

  .article__image-container__logo {
    @include size(100%, null, 22rem, null);
  }
}

@media (max-width: $breakpoint-tablet) {
  .article__image-container__logo {
    @include size(100%, null, 15rem, null);
  }

  .article__image-container__main-img {
    @include size(100%, null, 48rem, auto);
    object-fit: cover;
  }
}

@media (max-width: $breakpoint-mobile) {
  .article__image-container__logo {
    @include size(100%, null, 3rem,null);
  }

  .article__image-container__main-img {
    @include size(100%, null, null, auto);
    object-fit: cover;
  }
}
