<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="./banner.js"></script>
    <title>배너</title>
  </head>
  <body>
    <section class="banner">
      <a href="/" class="banner__link">
        <div class="banner__link--image-container">
          <img
            class="banner__image-container--logo"
            src="../../assets/baekpacker_logo.webp"
            alt="백패커 로고"
          />
          <img
            class="banner__image-container--img"
            src="../../assets/baekpacker_img.webp"
            alt="백패커 이미지"
          />
          <div class = "banner__image-container--desc">
            <p class ="banner__image-container--desc1">우리가 가는 곳이 곧 주방!</p>
            <p class ="banner__image-container--desc2">극한의 출장 요리단이 간다!</p>
          </div>
        </div>
      </a>
    </article>
  </body>
</html>
